@{
    ViewData["Title"] = "About Group 10";
}


<div>
    <br/><h1>Group 10</h1>
    <p>Student name: Cheng-Yeh Tsai</p>
    <p>Student number: 101539796</p><br/>
    <p>Student name: Ｗong Jui Hsin</p>
    <p>Student number: 101559700</p><br/>
    <p>Course Name: Comp2139</p>
    <p>Course Section: 4:00 p.m.</p>
    <p>CRN: 18131</p>
</div>