@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GroupTen Events</h1>
    <p>We currently have 4 events on our calender.</p>
    <p><a asp-controller="Events" asp-action="Index">Click here to the events page</a>.</p>
</div>