
//Search Filter form
<form method="get">
    <input type="text" name="search" placeholder="Search by Title"/>
    <select name="Category">
        <option name="webinar" value="webinar">webinar</option>
        <option name="concert" value="concert">concert</option>
        <option name="workshop" value="workshop">workshop</option>
        <option name="conference" value="conference">conference</option>
    </select>
    <button type="submit"> Search </button>
</form>